<main class="entity-edit">
  <h1>Editing <%= @entity.name %></h1>

  <div class="container">

    <%= render "form", entity: @entity, groups: @groups %>
    <div class="links">
      <div class="show">
        <%= link_to "Show this entity", @entity %>
      </div>
    </div>
  
  </div>
</main>
