<div class="actions">
    <div class="edit">
        <%= link_to "Edit this group", edit_group_path(group) %> 
    </div>
    <div class="edit">
        <%= link_to "Show this group", group %> 
    </div>
    <div class="destroy">
        <%= button_to "Destroy this group", group, method: :delete %>
    </div>
</div>

