<main class="group-edit">
  <h1>Editing <%= "#{@group.icon} #{@group.name}" %></h1>
  
  <div class="container">
  
    <%= render "form", group: @group %>
  
    <div class="links">
      <div class="show">
        <%= link_to "Show this group", @group %>
      </div>
    </div>
    
  </div>
</main>