<main class="groups-index">
  <h1>Categories</h1>
  <%= link_to "New group", new_group_path %>
  <div class="groups">
    <% @groups.each do |group| %>
      <%= render "groups/preview", group: group %>
    <% end %>
  </div>
  <%= paginate @groups %>
</main>