<main class="groups-index">
  <h1>Categories</h1>
  <%= button_to new_group_path, class: "corner-floating-btn" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <% end %>
  <div class="groups">
    <% @groups.each do |group| %>
      <%= render "groups/preview", group: group %>
    <% end %>
  </div>
  <%= paginate @groups %>
</main>