$primary-color: #3778c2;

main.auth {
  padding-top: 0;

  form {
    header {
      position: relative;
      justify-content: space-between;

      .actions {
        input[type='submit'] {
          all: unset;
          font-size: 0.8rem;
          cursor: pointer;
        }
      }
    }

    .field {
      padding: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .field_with_errors {
        box-shadow: 0 0 6px rgba(255, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      input[type='text'],
      input[type='email'],
      input[type='password'] {
        width: 100%;
        padding: 0.25rem;
        height: 2rem;
      }

      &.check-box {
        gap: 1rem;
      }
    }

    .links {
      margin-top: 50%;
      color: black;

      a {
        all: unset;
      }
    }
  }
}
