main.group-show {
  h1 {
    background-color: white;
    padding: 1.25rem;
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.1);
  }

  .actions {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button_to {
      button {
        padding: 0.25rem;
        height: 3rem;
        width: 3rem;
        font-size: 2rem;
      }
    }
  }
}
